$normalFontSize: 16px;

.ui-helper-hidden-accessible {
  display: none;
}

.article-image {
  max-width: 80%;
  max-height: 500px;
  margin-bottom: 40px;
}

.tag-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    color: #666;
    display: inline-block;
    border: 2px solid black;
  }
}

.article-tags {
  height: 30px;
  li {
    font-size: $normalFontSize;
    line-height: 30px;
    padding: 0 8px;
    margin-right: 20px;
    border-radius: 10px;
  }
}

.orange-tag li {
  border-color: orange;
}

.article-description {
  font-size: $normalFontSize;
  line-height: 25px;
  margin: 20px 0;
  width: 80%;
  word-break: break-all;
}

.user-name {
  font-size: $normalFontSize;
  span {
    margin-right: 10px;
  }
}

.sub-images {
  height: 100px;

  .sub-image {
    width: 30%;
    height: 100px;
    margin-right: 3%;
    background-color: #fafafa;
    float: left;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
      opacity: 0.5;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.new_article {
  margin-top: 30px;

  .image-field {
    text-align: center;
    img {
      max-width: 70%;
    }
  }
}

.article-submit {
  clear: both;
  padding: 70px 0 0;
  margin: 0 auto;
  .cancel, .upload {
    float: left;
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid orange;
    border-radius: 10px;
  }
  .cancel label, .upload label {
    padding: 5px 10px;
    height: 40px;
    line-height: 40px;
    color: inherit;
    font-size: 20px;
  }
  .cancel input, .upload input {
    display: none;
  }
}
